<div class="comment-list sm">
  <% if @new_comments.any? %>
    <% @new_comments.each do |comment| %>
      <% user = find_user_comment comment.user_id %>
      <%= link_to notifications_path(:comment_id => comment.id) do %>
        <div class="item">
          <div class="user">
            <figure>
              <%= gravatar_for user %>
            </figure>
            <div class="details">
              <h5 class="name"><%= user.full_name %></h5>
              <div class="time"><%= t "notify_time", time: time_ago_in_words(comment.created_at) %></div>
              <div class="description" style="color: black;">
                <%= comment.content %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <hr>
    <% end %>
  <% end %>
</div>
