<div class="line top">
  <div>Sách mới</div>
</div>
<div class="row">

  <% if @new_books.any? %>
    <% @new_books.each do |book| %>
      <article class="col-md-12 article-list">
        <div class="inner">
          <figure>
                <%= link_to book_path(book.id) do %>
                  <%= image_tag book.image, class: "book_cover", alt: "#{book.title}" %>
                <% end %>
          </figure>
          <div class="details">
            <div class="detail">
              <div class="category">
                <a href="javascript:void(0)">Ngày xuất bản:</a>
              </div>
              <div class="time"><%= book.publish_date.strftime("%d/%m/%Y") %></div>
            </div>
            <h1><%=link_to book.title, book_path(book.id) %></h1>
            <p><span class="text_title">Tác giả: </span><%= book.author %></p>
            <p><span class="text_title">Tóm tắt: </span><%= book.summary %></p>
            <p><span class="text_title">Lượt thích: </span><%= count_favorite(book.id) %></p>
            <% book_star(book) %>
            <p><span class="text_title">Điểm đánh giá: </span><span style="color: red;"><%=@average%> </span>/ 5
            (<span style="color: green;"><%=@count_rate %></span> đánh giá)
            </p>
          </div>
        </div>
      </article>
    <% end %>
  <% else %>
    <h6 class="text_title" style="text-align: center;">Không tìm thấy sách</h6>
  <% end %>
</div>
<div class="line"></div>
<%= link_to books_path, class: "btn btn-magz white btn-block" do %>
  <span style="color: black;">Xem tất cả</span><i class="fa fa-angle-double-right"></i>
<% end %>
