<hr>
<% if @comments.any? %>
  <div id="show_list_reply_cmt">
    <% @comments.each do |comment| %>
      <% user = find_user_review(comment.user_id) %>
      <div class="item style_comment" style="padding: 0px; border: none;" id="comment_<%= comment.id %>">
        <div class="user cmt">
          <figure>
            <%= gravatar_for user %>
          </figure>
          <div class="details" style="padding: 0 9px; margin-left: 55px;">
            <p style="background-color: #dfe1e261; border-radius: 5px; padding: 0 9px;">
              <span class="name"><%= link_to user.full_name, user_path(comment.user_id) %></span>
              <span style="white-space: pre-line"><%= comment.content %></span>
            </p>
            <div class="time">
              <% if logged_in? && correct_user_comment?(comment) %>
                <span>
                  <%= link_to "Cập nhập", edit_book_review_comment_path(comment.review.book, comment.review,comment.id),
                  method: :get, remote: true %>
                  |
                  <%= link_to "Xóa", book_review_comment_path(comment.review.book, comment.review,comment.id),
                  method: :delete, data: {confirm: "Bạn có muốn xóa bình luận này không?"}, remote: true %>
                  |
                </span>
              <% end %>
              <% if comment_update? comment %>
                <%= t "comments.time_update", time: time_ago_in_words(comment.updated_at) %>
              <% else %>
                <%= t "comments.time_create", time: time_ago_in_words(comment.created_at) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<% if logged_in? %>
  <div id="reply_cmt_form">
    <%= render "comments/reply_cmt_form" %>
  </div>
<% else %>
  <footer>
    <%= link_to "Đăng nhập để bình luận", "#" %>
  </footer>
<% end %>
