<% if not @title_index.nil? %>
  <% provide :title, @title_index %>
<% end %>

<div class="container">
  <div class="line top">
    <div>Danh sách các cuốn sách</div>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <% if @books.any? %>
        <% @books.each do |book| %>
          <article class="col-md-12 article-list">
            <div class="inner">
              <figure>
                    <%= link_to book_path(book.id) do %>
                      <%= image_tag book.image, class: "book_cover", alt: "#{book.title}" %>
                    <% end %>
              </figure>
              <div class="details">
                <div class="detail">
                  <div class="category">
                    <a href="javascript:void(0)">Ngày xuất bản:</a>
                  </div>
                  <div class="time"><%= book.publish_date %></div>
                </div>
                <h1><%=link_to book.title, book_path(book.id) %></h1>
                <p><span class="text_title">Tác giả: </span><%= book.author %></p>
                <p><span class="text_title">Tóm tắt: </span><%= book.summary %></p>
                <div id="like_for_books">
                  <%= form_tag(load_like_path, method: 'get',hidden: true, remote: true ) do %>
                    <%= text_field_tag(:book_id, nil, {value: "#{book.id}"}) %>
                    <%= submit_tag("Load Comment Reply", id: "hidden_btn_load") %>
                  <% end %>
                  <script type="text/javascript">
                    $(function(){
                      document.getElementById("hidden_btn_load").click();
                    });
                  </script>
                </div>
              </div>
            </div>
          </article>
        <% end %>
        <%= will_paginate @list_books, id: "paginate" %>
      <% else %>
        <h6 class="text_title" style="text-align: center;">Không tìm thấy sách</h6>
      <% end %>
    </div>
  </div>
</div>
