<% provide :title, "Trang chủ" %>
<div class="container" style="padding-top: 100px;">
  <h6>Các con số thống kê</h6>
  <div class="row">
    <div class="col-md-3">
      <div class="card card-stats card-warning">
        <div class="card-body ">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                <i class="fa fa-users"></i>
              </div>
            </div>
            <div class="col-7 d-flex align-items-center">
              <div class="numbers">
                <p class="card-category">Người dùng</p>
                <h4 class="card-title">
                  <% if @count_users %>
                    <%= @count_users %>
                  <% else %>
                    0
                  <% end %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-stats card-success">
        <div class="card-body ">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                <i class="fa fa-book"></i>
              </div>
            </div>
            <div class="col-7 d-flex align-items-center">
              <div class="numbers">
                <p class="card-category">Sách</p>
                <h4 class="card-title">
                  <% if @count_books %>
                    <%= @count_books %>
                  <% else %>
                    0
                  <% end %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-stats card-danger">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                <i class="fa fa-pencil"></i>
              </div>
            </div>
            <div class="col-7 d-flex align-items-center">
              <div class="numbers">
                <p class="card-category">Đánh giá</p>
                <h4 class="card-title">
                  <% if @count_reviews %>
                    <%= @count_reviews %>
                  <% else %>
                    0
                  <% end %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-stats card-primary">
        <div class="card-body ">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                <i class="fa fa-comments"></i>
              </div>
            </div>
            <div class="col-7 d-flex align-items-center">
              <div class="numbers">
                <p class="card-category">Bình luận</p>
                <h4 class="card-title">
                  <% if @count_comments %>
                    <%= @count_comments %>
                  <% else %>
                    0
                  <% end %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 54px;">
    <%= render "admin/static_pages/user_chart" %>
    <%= render "admin/static_pages/review_colunm_chart" %>
  </div>
</div>
