<% provide :title, t("admin.users.title") %>
<div class="container" style="padding-top: 100px;">


<ol class = "breadcrumb">
  <li class = "breadcrumb-item">
    <%= link_to t("admin.users.home"), admin_root_path %>
  </li>
  <li class = "breadcrumb-item active"><%= t "admin.users.manage_users" %></li>
</ol>
<div class = "card mb-3">
  <div class = "card-header">
    <i class = "fa fa-list-alt "></i>
    <%= t "admin.users.list_users" %>
    <%= link_to t("admin.users.add_user"), new_admin_user_path, class: "fa fa-plus addBtn" %>
  </div>
  <div class = "card-body">
    <% if @users.any? %>
      <table class="table" id="table_users">
        <thead>
          <tr>
            <th><%= t "admin.users.th_name" %></th>
            <th><%= t "admin.users.th_email" %></th>
            <th class="center"><%= t "admin.users.th_action" %></th>
          </tr>
        </thead>
        <tbody>

<% @users.each do |user| %>
  <tr>
    <td><%= user.full_name %></td>
    <td><%= user.email %></td>
    <td class="center">
      <%= link_to edit_admin_user_path(user.id), class: "action_manage edit", title: t("admin.users.title_update") do %>
        <i class="fa fa-user-plus" aria-hidden="true"></i>
      <% end %>
      <%= link_to admin_user_path(user.id), method: :delete, data: {confirm: t(".confirm")},
        class: "action_manage delete", title: t("admin.users.del") do %>
        <i class="fa fa-user-times" aria-hidden="true"></i>
      <% end %>
    </td>
  </tr>
<% end %>
<%= will_paginate %>

        </tbody>
      </table>
    <% else %>
      <p class="notify"><%= t "admin.users.empty" %></p>
    <% end %>
  </div>
</div>


</div>
