<% provide :title, "Đánh giá sách" %>
<div class="container" >
  <div class = "w3-row-padding w3-padding">
  <h2>Tiêu đề: <%= @book.title %></h2>
  </div>
  <div class = "w3-row-padding w3-padding">
    <%= form_for [@book, @review], html: {class: "review form-horizontal"}, method: :post do |f| %>
      <%= render "shared/error_messages", object: @review %>
      <hr>
      <div>
        <%= f.label :rate, "Đánh giá sao" %>
        <br>
        <fieldset class = "rate">
          <% 5.downto 1 do |i| %>
            <%= f.radio_button :rate, i, id: "star#{i}_" %>
            <%= label "star#{i}","", class: "full" %>

            <%= f.radio_button :rate, i - 0.5, id: "star#{i - 1}half_" %>
            <%= label "star#{i - 1}half", "", class: "half" %>
          <% end %>
        </fieldset>
        <hr>
      </div>
      <div>
        <%= f.label :content, "Nội dung đánh giá" %>
        <%= f.cktext_area :content, class: "ta-review" %>
      </div>
      <%= hidden_field_tag :book_id, @book.id %>
      <%= f.button "Đánh giá", class: "btn btn-success button_submit" %>
    <% end %>
  </div>
</div>
