<ul class="nav-list">
  <li>
    <%= link_to root_path do %>
      <i class="fa fa-home"></i></a>
    <% end %>
  </li>
  <li><%= link_to "Giới thiệu", static_pages_path(:request => 1) %></li>

  <li class="dropdown magz-dropdown magz-dropdown-megamenu">
    <a href="#">Tùy chọn nhanh <div class="badge">Top</div>
      <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu megamenu">
      <div class="megamenu-inner">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <ul class="vertical-menu">
              <li>
                <%= link_to books_path(:request => "love") do %>
                  Những cuốn sách được yêu thích nhất
                <% end %>
              </li>
              <li>
                <%= link_to books_path(:request => "new") do %>
                  Sách mới được thêm vào hệ thống
                <% end %>
              </li>
              <li>
                <%= link_to books_path(:request => "read") do %>
                  Những cuốn sách được đọc nhiều
                <% end %>
              </li>
              <li>
                <%=link_to books_path do %>
                  Xem tất cả sách
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="dropdown magz-dropdown">
    <a href="#">Trợ giúp <i class="fa fa-angle-down"></i></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Quy định của Website", static_pages_path(:request => 2) %></li>
      <li class="dropdown magz-dropdown">
        <a href="#">Hướng dẫn <i class="ion-ios-arrow-right"></i></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Đăng nhập", static_pages_path(:request => 3) %></li>
          <li><%= link_to "Đăng ký", static_pages_path(:request => 4) %></li>
          <li><%= link_to "Kích hoạt tài khoản", static_pages_path(:request => 5) %></li>
          <li><%= link_to "Thiết lập lại mật khẩu", static_pages_path(:request => 6) %></li>
        </ul>
      </li>
      <li class="dropdown magz-dropdown">
        <a href="#">Liên hệ <i class="ion-ios-arrow-right"></i></a>
        <ul class="dropdown-menu">
          <li><a href="">Facebook</a></li>
          <li><a href="">Twitter</a></li>
          <li><a href="">Youtube</a></li>
          <li><a href="">Google Plus</a></li>
          <li><a href="">Skype</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
