<ul class="nav-list float_right">
  <% if logged_in? %>
    <% if @new_notifications.any? %>
      <li class="dropdown magz-dropdown magz-dropdown-megamenu">
        <a href="javascript:avoid(0)"><i class="fa fa-bell"></i>
          <div class="badge"><%= @new_notifications.count %></div>
        </a>
        <div class="dropdown-menu megamenu">
          <div class="megamenu-inner">
            <div class="row">
              <% count = 0 %>
              <% @new_notifications.each do |notify| %>
                <article class="article-mini">
                  <div style="padding: 0px 18px;">
                    <%= link_to notifications_path(:activity_id => notify.activity_id, :notify_id => notify.id) do %>
                      <h1><%= notify.content %></h1>
                    <% end %>
                    <div class="detail" style="padding: 0px; margin: 0px;">
                      <div style="color: #bbafaf;"><%= t "notify_time", time: time_ago_in_words(notify.created_at) %></div>
                    </div>
                  </div>
                </article>
                <hr>
                <% count += 1 %>
                <% break if count == 5 %>
              <% end %>
              <div class="form-group text-right">
                <%= link_to "Xem tất cả thông báo", home_notifications_path, class: "btn btn-primary btn-block" %>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% else %>
      <li class="dropdown magz-dropdown magz-dropdown-megamenu">
        <a href="javascript:avoid(0)"><i class="fa fa-bell"></i>
          <div class="badge">0</div>
        </a>
        <div class="dropdown-menu megamenu">
          <div class="megamenu-inner">
            <div class="row" style="padding: 0px 18px;">
              <b><p style="color: blue; text-align: center;">Bạn không có thông báo mới nào</p></b>
              <div class="form-group text-right">
                <%= link_to "Xem tất cả thông báo cũ", home_notifications_path, class: "btn btn-primary btn-block" %>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
    <li class="dropdown magz-dropdown" style="float: right;"><a href="javascript:void(0)"><%= current_user.full_name %><i class="fa fa-angle-down"></i></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to user_path(current_user.id), method: :get do %>
            Thông tin cá nhân
          <% end %>
        </li>
        <li>
          <%= link_to "Sách yêu thích", books_path(:request => "loved") %>
        </li>
        <li>
        <%= link_to "Sách đã đánh dấu", books_path(:request => "marked") %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to logout_path, method: :delete do %>
              <i class="icon ion-log-out"></i> Đăng xuất
          <% end %>
      </ul>
    </li>
  <% end %>
</ul>
