<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Hệ thống đánh giá sách trực tuyến</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag 'public/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'public/application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>
  </head>

  <body class="skin-orange">
    <% find_notifications if logged_in? %>
    <%= render "layouts/header" %>
    <%= render "layouts/flash_notify" %>

    <div class="content_page" style="padding-bottom: 27px; min-height: 630px;">
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
